.App {
  display: flex;
  justify-content: center;
}
.Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Tittle-Search {
  width: 1100px;
  background: linear-gradient(
    115.52deg,
    rgba(130, 130, 130, 0.3) 0%,
    rgba(130, 130, 130, 0.111) 100%
  );
  backdrop-filter: blur(50px);
  border-radius: 20px;
  margin: 30px;
  padding: 40px;
}
.Tittle-Search > h1 {
  letter-spacing: 2px;
  color: #333333;
}
.Tittle-Search > input {
  width: 350px;
  height: 60px;
  background: linear-gradient(
    92.29deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.53) 100%
  );
  border-radius: 16px;
  border: none;
  outline: none;
  padding: 0 20px;
  margin-top: 40px;
}
.Tittle-Search > button {
  width: 130px;
  height: 60px;
  background: linear-gradient(
    106.17deg,
    #219653 0%,
    rgba(33, 150, 83, 0.73) 100%
  );
  border-radius: 16px;
  color: #ffffff;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}
.Tittle-Search > button:hover {
  background-color: #0e4225;
}
.Cases {
  width: 50%;

  color: #333333;
  letter-spacing: 1px;
  line-height: 45px;
}
.Image {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.Image > img {
  width: 350px;
  height: 210px;
  border-radius: 20px;
  overflow: hidden;
}
.Info-Flag {
  width: 1100px;
  background: linear-gradient(
    115.52deg,
    rgba(130, 130, 130, 0.3) 0%,
    rgba(130, 130, 130, 0.111) 100%
  );
  backdrop-filter: blur(50px);
  border-radius: 20px;
  display: flex;
  padding: 40px;
  margin-bottom: 30px;
}
